@mixin flexBox($align, $justify, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  width: 100%;
}

@mixin placeCenter {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@mixin button($background, $color) {
  border-radius: 20px;
  background-color: $background;
  color: $color;
  font-size: 1.6rem;
  padding: 0.5em 2em;
}
