@mixin flexBox($align, $justify, $gap, $axis) {
  display: flex;
  flex-direction: $axis;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  width: 100%;
}

@mixin placeCenter {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@mixin button($background, $color, $font-size) {
  border-radius: 20px;
  background: $background;
  color: $color;
  font-size: $font-size;
  padding: 0.5em 2em;
  transition: all 0.5s;
  border: none;
  outline: none;
  font-weight: bold;
}

@mixin button--hover($background, $color) {
  color: $background;
  background: $color;
  box-shadow: 0px 0px 15px black;
}
