@import "../../../mixins/components";
@import "../../../mixins/fonts";
@import "../../../mixins/padding";
@import "../../../mixins/margins";
@import "../../../mixins/colors";

.HeroSection {
  width: 100%;
  @include flexBox(center, center, 2em, column);
  margin-top: 5em;

  &--scroll {
    @include flexBox(center, center, 0em, column);
    color: $primary-sub-text-color;
    cursor: pointer;
    animation: scrollDown 1s linear infinite;
  }

  &__container {
    @include flexBox(center, space-around, 0, row);

    @media screen and (max-width: 900px) {
      flex-direction: column;
      gap: 2em;
      text-align: center;
    }
  }

  &__image {
    img {
      @media screen and (max-width: 700px) {
        max-width: 20em;
      }
    }
  }

  &__body {
    &__heading {
      h1 {
        font-size: $heading-font-size;
        line-height: 1.3em;
        margin-bottom: $primary-margin;
        font-weight: bold;

        @media screen and (max-width: 450px) {
          font-size: $heading-mobile-font-size;
        }
      }

      &__top {
        color: $primary-text-color;
      }
    }

    &__sub__heading {
      max-width: 22em;
      margin-bottom: $secondary-margin;

      @media screen and (max-width: 700px) {
        max-width: 25em;
      }

      p {
        line-height: 1.8em;
        color: $primary-sub-text-color;
        font-weight: bold;

        @media screen and (max-width: 450px) {
          font-size: $sub-heading-mobile-font-size;
        }
      }
    }

    &__button {
      button {
        @include button($primary-button-color, white, 1.6rem);

        @media screen and (max-width: 450px) {
          font-size: $sub-heading-mobile-font-size;
        }
      }

      button:hover {
        @include button--hover($primary-button-color, white);
      }
    }
  }
}

// animations
@keyframes scrollDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
    transform: translateY(2px);
    opacity: 0.75;
  }
  50% {
    transform: translateY(4px);
    opacity: 0.5;
  }
  75% {
    transform: translateY(6px);
    opacity: 0.25;
  }
  100% {
    transform: translateY(8px);
    opacity: 0;
  }
}
