@import "../../../mixins/components";
@import "../../../mixins/fonts";
@import "../../../mixins/padding";
@import "../../../mixins/margins";
@import "../../../mixins/colors";

.ArticleCardContainer {
  @include placeCenter;

  &__card {
    background: linear-gradient(
      142.41deg,
      #dbd4d4 0%,
      #e0dada 56.56%,
      #ffffff 100%
    );
    box-shadow: 20px 20px 40px 20px rgba(0, 0, 0, 0.25),
      -20px -20px 40px #ffffff, inset -20px -20px 40px rgba(255, 255, 255, 0.25),
      inset 20px 20px 40px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: $primary-padding;
  }

  &__title {
    color: #0c099c;
  }

  &__body {
    color: $primary-text-color;
    max-width: 18em;
  }

  &__button {
    @include button(
      linear-gradient(90deg, #00e6f5 0%, #1100ef 100%),
      white,
      1.2rem
    );
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2),
      -4px -4px 8px 5px rgba(255, 255, 255, 0.25),
      inset 2px 2px 8px 5px rgba(0, 0, 0, 0.25),
      inset -2px -2px 8px 5px rgba(255, 255, 255, 0.25);
  }
}
